%h3.font.black_font.header
	= "#{@current_task_number}."
	= t('of_tasks')
	= "#{@tasks_count}."
%h1.font.black_font
	= @program.name

.task-answer-container.font
	%h3
		- if @user.task_percentage[@user.last_task_number]
			= @task.good
		- else
			= @task.bad

.back-btn.button-right
	- if @user.task_percentage.include?(nil)
		= link_to t('continue'), task_user_program_path(@user.id, @program.id), :class => "btn btn-success btn-xlarge font-bold"
	- else
		= link_to t('statistic'), user_info_user_program_path(@user.id, @program.id), :class => "btn btn-info btn-xlarge font-bold"
