%h3.font.black_font.header
	= "#{@current_task_number}. úkol z #{@tasks_count}."
%h1.font.black_font
	= @program.name

.task-question-container.font.black_font
	%h3
		= @task.question

.task-answer-container.font-bold
	%center
		- case @task.question_type
		- when 0
			.yesno-buttons
				= link_to "Ano", :back, :class => "btn btn-primary btn-large first"
				= link_to "Ne", :back, :class => "btn btn-primary btn-large second"

		- when 1
			.block-buttons
				- case @task.task_answers.count
				- when 3
					.three-buttons
						.first-row
							= link_to @task.task_answers[0] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large first"
							= link_to @task.task_answers[1] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large second"
						.second-row
							= link_to @task.task_answers[2] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large third"
				- when 4
					.four-buttons
						.first-row
							= link_to @task.task_answers[0] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large first"
							= link_to @task.task_answers[1] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large second"
						.second-row
							= link_to @task.task_answers[2] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large third"
							= link_to @task.task_answers[3] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large forth"

				- when 5
					.five-buttons
						.first-row
							= link_to @task.task_answers[0] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large first"
							= link_to @task.task_answers[1] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large second"
						.second-row
							= link_to @task.task_answers[2] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large third"
							= link_to @task.task_answers[3] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large forth"
							= link_to @task.task_answers[4] , answer_user_task_path(@user.id, @task.id), :class => "btn btn-primary btn-large fifth"

		- when 2
			.typing-buttons
				= form_tag answer_user_task_path(@user.id, @task.id), :method => 'get', :class=> "form-inline from-answer" do
					.name.control-group
						= text_field_tag 'answer', nil, :class => "search-query font-bold", :autocomplete => "off"
					.submit.control-group
						= submit_tag "Odpovedať",:class => "btn btn-success btn-large font-bold"