.container
	%h2
		%i.icon-rocket
		Nový program


= link_to new_admin_program_path, :class=>"btn btn-info btn-new" do
	%i.icon-plus-sign
	Nový program

%table.programs.table.table-hover
	%thead
		%tr
			%th.program-name
				Meno
			%th.tasks
				Počet úkolú
			%th.program-action
				Akcie
	%tbody
		- @programs.each do |program|
			%tr
				%td.program-name
					= program.name
				%td.tasks
					= program.tasks.count
				%td.program-action
					= link_to new_admin_program_task_path(program.id), :class => "show_link" do
						%i.icon-plus
						přidat úkol
					= link_to admin_program_path(program.id), :class => "show_link" do
						%i.icon-info
						pozri
					= link_to edit_admin_program_path(program.id), :class => "edit_link" do
						%i.icon-edit
						upravit
					= link_to admin_program_path(program.id), :confirm => "Zmazat úkol #{program.name} ?", :method => :delete, :class => "delete_link" do
						%i.icon-trash
						zmazat