
%h1.font.black_font
	= t('choose_program')

%table.table.programs
	%thead
		%tr
			%th.name
			%th.action1
			%th.action2

	%tbody
		-@programs.each do |program|
			%tr
				%td.name
					%h2
						= program.name
				%td.action1
					- if @user.program_status
						/ - if @user_readed[@user.last_task_number] == false

						= link_to t('continue'), task_user_program_path(@user.id, program.id), :class => "btn btn-danger btn-xlarge"

						/ - else
						/ 	= link_to "Dále", user_task_path(@user.id, program.id), :class => "btn btn-danger btn-xlarge"

					- else
						= link_to t('begin'), begin_program_user_program_path(@user.id, program.id), :class => "btn btn-success btn-xlarge"
				%td.action2
					= link_to t('info'), info_user_program_path(@user.id, program), :class => "btn btn-primary btn-xlarge"


.back-btn
	= link_to t('back'), dashboard_index_path, :class => "btn btn-warning btn-xlarge font"