%h1.font.black_font
	= @program.name

.program-info-container
	%h3.font.black_font
		= @program.info

.audio.hide
	%audio{:controls => ""}
		%source{:src => "/#{@program.mp3_file_name}", :type => "audio/mpeg", }

.back-btn-extended
	%table
		%tbody
			%tr
				%td.back-btn2
					= link_to t('back'), :back, :class => "btn btn-warning btn-xlarge font"

				%td.play-track-btn
					= button_tag nil, :class => "btn btn-info btn-xlarge play" do
						%i.icon-play.icon-white.icon-large
					= button_tag nil, :class => "btn btn-info btn-xlarge pause hide" do
						%i.icon-pause.icon-white.icon-large

				%td.ok-btn
					- if @user.program_status
						= link_to t('continue'), task_user_program_path(@user.id, @program.id), :class => "btn btn-success btn-xlarge font"
					- else
						= link_to t('begin'), begin_program_user_program_path(@user.id, @program.id), :class => "btn btn-success btn-xlarge font"