%h1.font.black_font
	= @program.name

.program-info-container
	%h3.font.black_font
		= @program.info

/ = render :partial => "common/back_extended"

.audio.hide
	%audio{:controls => ""}
		%source{:src => "/audios/rem.mp3", :type => "audio/mpeg", }

.back-btn-extended
	%table
		%tbody
			%tr
				%td.back-btn2
					= link_to "Zpět", :back, :class => "btn btn-warning btn-xlarge"

				%td.play-track-btn
					= button_tag nil, :class => "btn btn-info btn-xlarge play" do
						%i.icon-play.icon-white.icon-large
					= button_tag nil, :class => "btn btn-info btn-xlarge pause hide" do
						%i.icon-pause.icon-white.icon-large

				%td.ok-btn
					- if @user.program_status
						= link_to "Pokračovat", task_user_program_path(@user.id, @program.id), :class => "btn btn-success btn-xlarge"
					- else
						= link_to "Začít", begin_program_user_program_path(@user.id, @program.id), :class => "btn btn-success btn-xlarge"