%h3.font.black_font.header
	= "#{@task_number+1}." + t('of_tasks') + " #{@tasks_count}."
%h1.font.black_font
	= @program.name

.task-rec-container
	%h3.font.black_font
		= @task.rec

.task-task-container
	%h3.font.black_font
		= @task.task

.back-btn.button-right
	= link_to root_path, :class => "btn btn-primary btn-xlarge" do
		%i.icon-ok.icon-large