%h1.font.black_font
	Informace o mém programu

%table.table.user_info_table

	%tbody
		- @program_tasks.each_with_index do |task, i|
			%tr
				%td.name
					%h3
						= task.name
				%td.action1
					- if @user.task_percentage[i] == false
						%h3.font.black_font
							= link_to "Znovu?", :back, :class => "btn btn-large"

				%td.action2
					- if @user.task_percentage[i]
						%i.icon-ok.icon-2x
					- elsif @user.task_percentage[i] == false
						%i.icon-remove.icon-2x
					- else
						%i.icon-question.icon-2x

				%td.action3
					- if @user.task_percentage[i] == nil
						%h3.font.black_font
							= link_to "Zopakovat otázku", :back, :class => "btn btn-info btn-large disabled"
					- else
						%h3.font.black_font
							= link_to "Zopakovat otázku", :back, :class => "btn btn-info btn-large"

.back_and_remove
	.back
		= link_to :back, :class => 'btn btn-warning btn-xlarge' do
			Zpět
	.remove
		= link_to :back, :class => 'btn btn-danger btn-xlarge' do
			Zmazat program