.container-task
	%h2
		%i.icon-task
		= @task.name

	%h3
		Úkol:
	%h4
		= @task.task
	%h3
		Motivace:
	%h4
		= @task.rec
	%h3
		Úkol - opak:
	%h4
		= @task.reverse
	%h3
		Otázka:
	%h4
		= @task.question
	%h3
		Dobrá odpověď:
	%h4
		= @task.good
	%h3
		Zlá odpověď:
	%h4
		= @task.bad
	%h3
		Odpovědi:
	%h4
		-case @task.question_type
		-when 0
			%ul
				- @task.task_answers.each do |a|
					%li
						= a
						- if a == @task.question_answer
							%i.icon-ok.icon-icon-large
						- else
							%i.icon-remove.icon-icon-large
		-when 1
			%ul
				- @task.task_answers.each do |a|
					%li
						= a
						- if a == @task.question_answer
							%i.icon-ok.icon-icon-large
						- else
							%i.icon-remove.icon-icon-large
		-when 2
			= @task.task_answers.first