.row-fluid
	.span6.offset3
		%center
			%h1.font-center
				= t('enter_your_name')

	.span6.offset3
		= render :partial => "common/flash", :locals => { :flash => flash }

	.span6.offset3
		= form_tag find_users_path, :method => 'get' do
			.name.control-group
				= text_field_tag 'name', nil, :class => "user_name_field", :autocomplete => "off"
			.submit.control-group
				= submit_tag t('find_user'),:class => "btn btn-success btn-xlarge create_user_button"

	.span6.offset3
		= link_to t('back'), dashboard_index_path, :class => "btn btn-xlarge btn-primary btn-back-large"
