.container
	%h2
		%i.icon-gears
		Nastavení

	%h2
		= "Počet hodin do vymazaní uživatele: #{@attributes[0]}"
	%h2
		= "Přihlasovací jméno pro admina: #{@attributes[1]}"
	%h2
		= "Přihlasovací heslo pro admina: #{@attributes[2]}"

