!!!
%html
	%head
		%title Terminal
		= stylesheet_link_tag    "admin"
		= javascript_include_tag "admin"
		= csrf_meta_tags
	%body
	.nabbar-wrapper
		.container
			.navbar.navbar-inverse
				.navbar-inner
					.container-fluid
						= link_to admin_root_path, :class=>"brand" do
							%i.icon-rocket.icon-large.icon-white
							Terminal
						%ul.nav.nav-pills.pull-right
							%li
								=link_to "Uživatelé", admin_users_path
							%li
								=link_to "Programy", admin_programs_path
							%li
								=link_to "Úkoly", admin_tasks_path
							%li
								=link_to "Nastavení", edit_admin_setting_path(1)
	.container
		.row-fluid
			.span12
				.hero-unit.maincontainer

					= yield